HotelClient/Connected Services/ReservationService/ReservationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/HotelBookingServices/ReservationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelService" />
  <xs:import schemaLocation="http://localhost/HotelBookingServices/ReservationService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="cancelReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cancelReservationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindReservationByIdAndEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindReservationByIdAndEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelService" minOccurs="0" name="FindReservationByIdAndEmailResult" nillable="true" type="q1:ReservationFull" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelService" minOccurs="0" name="dt" nillable="true" type="q2:FinalStorageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookRoomResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllReservationConflicts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="checkout" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllReservationConflictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllReservationConflictsResult" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetALlReservationIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetALlReservationIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HotelService" minOccurs="0" name="GetALlReservationIdsResult" nillable="true" type="q4:ArrayOfReservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>