HotelClient/Connected Services/ReservationService/ReservationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReservationFull">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="amount" type="xs:int" />
      <xs:element minOccurs="0" name="checkin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="checkout" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="specialRequest" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationFull" nillable="true" type="tns:ReservationFull" />
  <xs:complexType name="FinalStorageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="checkin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="checkout" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:long" />
      <xs:element minOccurs="0" name="rooms" nillable="true" type="tns:ArrayOfRoomData" />
      <xs:element minOccurs="0" name="specialrequest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totaldays" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinalStorageData" nillable="true" type="tns:FinalStorageData" />
  <xs:complexType name="ArrayOfRoomData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomData" nillable="true" type="tns:RoomData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomData" nillable="true" type="tns:ArrayOfRoomData" />
  <xs:complexType name="RoomData">
    <xs:sequence>
      <xs:element minOccurs="0" name="adults" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="children" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="heading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomData" nillable="true" type="tns:RoomData" />
  <xs:complexType name="ArrayOfReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservation" nillable="true" type="tns:ArrayOfReservation" />
  <xs:complexType name="Reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="checkin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="checkout" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
</xs:schema>