HotelClient/Connected Services/ReservationService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ReservationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HotelService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservationService_cancelReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelReservation" />
  </wsdl:message>
  <wsdl:message name="IReservationService_cancelReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_FindReservationByIdAndEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:FindReservationByIdAndEmail" />
  </wsdl:message>
  <wsdl:message name="IReservationService_FindReservationByIdAndEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindReservationByIdAndEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_BookRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:BookRoom" />
  </wsdl:message>
  <wsdl:message name="IReservationService_BookRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_getAllReservationConflicts_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllReservationConflicts" />
  </wsdl:message>
  <wsdl:message name="IReservationService_getAllReservationConflicts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllReservationConflictsResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_GetALlReservationIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetALlReservationIds" />
  </wsdl:message>
  <wsdl:message name="IReservationService_GetALlReservationIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetALlReservationIdsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReservationService">
    <wsdl:operation name="cancelReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/cancelReservation" message="tns:IReservationService_cancelReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/cancelReservationResponse" message="tns:IReservationService_cancelReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindReservationByIdAndEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/FindReservationByIdAndEmail" message="tns:IReservationService_FindReservationByIdAndEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/FindReservationByIdAndEmailResponse" message="tns:IReservationService_FindReservationByIdAndEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/BookRoom" message="tns:IReservationService_BookRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/BookRoomResponse" message="tns:IReservationService_BookRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllReservationConflicts">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/getAllReservationConflicts" message="tns:IReservationService_getAllReservationConflicts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/getAllReservationConflictsResponse" message="tns:IReservationService_getAllReservationConflicts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetALlReservationIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/GetALlReservationIds" message="tns:IReservationService_GetALlReservationIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/GetALlReservationIdsResponse" message="tns:IReservationService_GetALlReservationIds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReservationService" type="tns:IReservationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cancelReservation">
      <soap:operation soapAction="http://tempuri.org/IReservationService/cancelReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindReservationByIdAndEmail">
      <soap:operation soapAction="http://tempuri.org/IReservationService/FindReservationByIdAndEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookRoom">
      <soap:operation soapAction="http://tempuri.org/IReservationService/BookRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReservationConflicts">
      <soap:operation soapAction="http://tempuri.org/IReservationService/getAllReservationConflicts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetALlReservationIds">
      <soap:operation soapAction="http://tempuri.org/IReservationService/GetALlReservationIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationService">
    <wsdl:port name="BasicHttpBinding_IReservationService" binding="tns:BasicHttpBinding_IReservationService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HotelService/ReservationService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>