HotelClient/Connected Services/RoomService/RoomService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom" nillable="true" type="tns:ArrayOfRoom" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bedtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Capasity" type="xs:int" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:complexType name="ArrayOfRoomData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomData" nillable="true" type="tns:RoomData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomData" nillable="true" type="tns:ArrayOfRoomData" />
  <xs:complexType name="RoomData">
    <xs:sequence>
      <xs:element minOccurs="0" name="adults" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="children" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="heading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomData" nillable="true" type="tns:RoomData" />
</xs:schema>