HotelClient/Connected Services/RoomService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HotelService" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelService" minOccurs="0" name="GetRoomsResult" nillable="true" type="q1:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomsByReservationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomsByReservationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelService" minOccurs="0" name="getRoomsByReservationIdResult" nillable="true" type="q2:ArrayOfRoomData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailabeRooms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="noOfRooms" type="xs:int" />
        <xs:element minOccurs="0" name="minCapasity" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ConflictedResIds" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailabeRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HotelService" minOccurs="0" name="getAvailabeRoomsResult" nillable="true" type="q4:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEachRoomsByReservationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEachRoomsByReservationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllEachRoomsByReservationIdResult" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRoomsByRoomTypeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRoomsByRoomTypeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllRoomsByRoomTypeIdResult" nillable="true" type="q6:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFreeRoomIdByRoomHeading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="heading" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFreeRoomIdByRoomHeadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFreeRoomIdByRoomHeadingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>